[alias]
    ps = push
    pl = pull
    co = checkout
    ci = commit
    st = status
    br = branch
    his= log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ls = ls-files
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
