[Unit]
Description=elasticsearch
Documentation=http://www.elastic.co
After=network.target

[Service]
User=elastic
Restart=always
RestartSec=10
LimitMEMLOCK=infinity
LimitNOFILE=65538

EnvironmentFile=/etc/sysconfig/elasticsearch
WorkingDirectory=/usr/local/elastic
ExecStart=/usr/local/elastic/bin/elasticsearch 

[Install]
WantedBy=multi-user.target
